body {
	/* @LINK: https://www.smashingmagazine.com/2015/11/using-system-ui-fonts-practical-guide/ */
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
	color: #333;
	margin: 0;
}

h1, h2, a {
	font-size: 1.8em;
}

h1 {
	font-weight: 400;
}

h2, a {
	font-weight: 300;
}

h2 {
	font-style: italic;
	font-weight: 100;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

h1, h2, main > ul > li > article > nav > a, .content, button.expand {
	margin-top: 36px;
	margin-bottom: 0;
}

a {
	transition: color .3s ease-out;
}

a:hover, a:active, a:focus {
	color: #333;
	outline: 0;
}

p {
	margin: 0;
	line-height: 1.7em;
	text-align: justify;
}

main > ul > li > article > nav > a {
	display: inline-block;
	text-decoration: none;
}
main > ul > li > article.-is-active > nav > a {
	text-decoration: underline;
}

.content {
	display: none;
}

body.no-js article .content {
	display: block;
}

article.-is-active .content, article.-is-expanded .content {
	display: block;
}

.content a {
	font-size: 16px;
}

/* @TODO: Use line-height? */
.content li {
	margin-bottom: 8px;
}

.content li a {
	display: inline-block;
	width: 100%;
	overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

button.expand {
	border: none;
	outline: none;
	background: none;
	cursor: pointer;
	font-size: 18px;
	padding: 2px;
	line-height: 13px;
}
button.expand:hover {
	color: #000;
}
body.no-js button.expand {
	display: none;
}

.-is-hidden {
	display: none;
}

div.wrap {
	margin: 0 auto;
	padding: 48px 36px;
	max-width: 600px;
}

@media (min-width: 672px) {
	div.wrap {
		padding: 72px;
	}
}
