/* reset */

body, h1, h2, h3, p, ul, li {
	margin: 0;
}

/* default */ 

body {
	/* @LINK: https://www.smashingmagazine.com/2015/11/using-system-ui-fonts-practical-guide/ */
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
	font-weight: 300;
	line-height: 1.4em;
	color: #333;
	font-size: 1.1em;
}
@media (min-width: 672px) {
	body {
		font-size: 1em;
	}
}

h1 {
	font-size: 1.8em;
	line-height: 1em;
	font-weight: 400;
}

h2 {
	font-size: 1em;
	line-height: 1.8em;
	font-weight: 300;
}

ul {
	list-style: none;
	padding: 0;
}

a {
	text-decoration: none;
	outline: none;
}
a:hover, 
a:active, 
a:focus {
	text-decoration: underline;
}

p, 
li {
	line-height: 1.7em;
}


h3 {
	line-height: 1em;
	font-size: 1em;
	font-weight: 300;
	margin: 0;
}
h3 > a {
	display: inline-block;
	color: inherit;
	font-size: 1.8em;
	line-height: 1em;
}
h3 > a:hover, 
h3 > a:active,
h3 > a:focus {
	text-decoration: none;
}


/* focus */ 

a:focus,
button.expand:focus {
	border-bottom: solid 1px #333;
}


/* spacings */

div.wrap {
	max-width: 600px;
	margin: 0 auto;
	padding: 20px;
}

h1, h2 {
	margin-top: 48px;
}

main,
.content {
	margin-top: 36px;
}

h3 > a,
button.expand
{
	margin-top: 12px;
}

article {
	padding-bottom: 36px;
}

button.expand {
	margin-bottom: 36px;
}

@media (min-width: 672px) {

	div.wrap {
		padding: 56px;
	}

	h1, h2 {
		margin-top: 60px;
	}

	main,
	.content {
		margin-top: 48px;
	}

	article {
		padding-bottom: 48px;
	}

	button.expand {
		margin-bottom: 48px;
	}
}


/* content */

.content {
	display: none;
}

body.no-js article .content {
	display: block;
}

article.-is-expanded .content {
	display: block;
}

.content li {
	width: 100%;
	overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

span.translation {
	font-size: 0.7em;
	padding-right: 2px;
}


/* expand button */

button.expand {
	border: none;
	outline: none;
	background: none;
	cursor: pointer;
	padding: 2px;
	font-size: 1em;
	line-height: 13px;
}

body.no-js button.expand {
	display: none;
}


/* hidden */

.-is-hidden {
	display: none;
}
@media (max-width: 671px) {
	.-is-hidden-small {
		display: none;
	}
}
@media (min-width: 672px) {
	.-is-hidden-large {
		display: none;
	}
}


